# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

framework/framework-datastore/target
framework/framework-datastore/target/*
framework/framework-message/target
framework/framework-message/target/*
framework/framework-registry/target
framework/framework-registry/target/*
framework/framework-scheduler/target/*

/framework/framework-datastore/target
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/misc.xml
.idea/modules.xml
/.idea

.qodo
template-service-parent/template-service-app/target/classes/openapi.yaml
template-service-parent/template-service-app/target/docker/build.timestamp
template-service-parent/template-service-app/target/docker/forgex/template-service/0.0.1-SNAPSHOT/build/Dockerfile
template-service-parent/template-service-app/target/docker/forgex/template-service/0.0.1-SNAPSHOT/tmp/docker-build.tar
template-service-parent/template-service-app/target/generated-sources/openapi/.openapi-generator/templateservice.yaml-default.sha256
template-service-parent/template-service-app/target/generated-sources/openapi/src/main/java/com/batty/forgex/templateService/api/ApiApi.java
template-service-parent/template-service-app/target/generated-sources/openapi/src/main/java/com/batty/forgex/templateService/model/Template.java
template-service-parent/template-service-app/target/maven-archiver/pom.properties
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
template-service-parent/template-service-app/target/template-service-app-0.0.1-SNAPSHOT.jar.original
template-service-parent/template-service-app/target/template-service-app-1.0.0.jar.original
template-service-parent/template-service-app/target/template-service-app-1.0.0.jar.original
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
template-service-parent/template-service-app/target/maven-archiver/pom.properties
template-service-parent/template-service-app/target/template-service-app-1.0.0.jar.original
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
template-service-parent/template-service-app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
template-service-parent/template-service-app/target/maven-archiver/pom.properties
template-service-parent/template-service-client/target/generated-sources/openapi/.github/workflows/maven.yml
template-service-parent/template-service-client/target/generated-sources/openapi/.openapi-generator-ignore
template-service-parent/template-service-client/target/generated-sources/openapi/.openapi-generator/FILES
template-service-parent/template-service-client/target/generated-sources/openapi/.openapi-generator/openapi.yaml-generate-client.sha256
template-service-parent/template-service-client/target/generated-sources/openapi/.openapi-generator/VERSION
template-service-parent/template-service-client/target/generated-sources/openapi/.travis.yml
template-service-parent/template-service-client/target/generated-sources/openapi/build.gradle
template-service-parent/template-service-client/target/generated-sources/openapi/build.sbt
template-service-parent/template-service-client/target/generated-sources/openapi/docs/DefaultApi.md
template-service-parent/template-service-client/target/generated-sources/openapi/docs/Template.md
template-service-parent/template-service-client/target/generated-sources/openapi/git_push.sh
template-service-parent/template-service-client/target/generated-sources/openapi/gradle.properties
template-service-parent/template-service-client/target/generated-sources/openapi/gradle/wrapper/gradle-wrapper.jar
template-service-parent/template-service-client/target/generated-sources/openapi/gradle/wrapper/gradle-wrapper.properties
template-service-parent/template-service-client/target/generated-sources/openapi/gradlew
template-service-parent/template-service-client/target/generated-sources/openapi/gradlew.bat
template-service-parent/template-service-client/target/generated-sources/openapi/pom.xml
template-service-parent/template-service-client/target/generated-sources/openapi/README.md
template-service-parent/template-service-client/target/generated-sources/openapi/settings.gradle
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/AndroidManifest.xml
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/api/DefaultApi.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ApiCallback.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ApiClient.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ApiException.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ApiResponse.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/auth/ApiKeyAuth.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/auth/Authentication.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/auth/HttpBasicAuth.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/auth/HttpBearerAuth.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/Configuration.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/GzipRequestInterceptor.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/JSON.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/model/AbstractOpenApiSchema.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/model/Template.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/Pair.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ProgressRequestBody.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ProgressResponseBody.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ServerConfiguration.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/ServerVariable.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/main/java/com/batty/forgex/template/client/StringUtil.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/test/java/com/batty/forgex/template/client/api/DefaultApiTest.java
template-service-parent/template-service-client/target/generated-sources/openapi/src/test/java/com/batty/forgex/template/client/model/TemplateTest.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.github/workflows/maven.yml
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.openapi-generator-ignore
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.openapi-generator/FILES
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.openapi-generator/openapi.yaml-generate-sources.sha256
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.openapi-generator/VERSION
template-service-parent/template-service-client/target/generated-sources/remote-openapi/.travis.yml
template-service-parent/template-service-client/target/generated-sources/remote-openapi/api/openapi.yaml
template-service-parent/template-service-client/target/generated-sources/remote-openapi/build.gradle
template-service-parent/template-service-client/target/generated-sources/remote-openapi/build.sbt
template-service-parent/template-service-client/target/generated-sources/remote-openapi/docs/DefaultApi.md
template-service-parent/template-service-client/target/generated-sources/remote-openapi/docs/Template.md
template-service-parent/template-service-client/target/generated-sources/remote-openapi/git_push.sh
template-service-parent/template-service-client/target/generated-sources/remote-openapi/gradle.properties
template-service-parent/template-service-client/target/generated-sources/remote-openapi/gradle/wrapper/gradle-wrapper.jar
template-service-parent/template-service-client/target/generated-sources/remote-openapi/gradle/wrapper/gradle-wrapper.properties
template-service-parent/template-service-client/target/generated-sources/remote-openapi/gradlew
template-service-parent/template-service-client/target/generated-sources/remote-openapi/gradlew.bat
template-service-parent/template-service-client/target/generated-sources/remote-openapi/pom.xml
template-service-parent/template-service-client/target/generated-sources/remote-openapi/README.md
template-service-parent/template-service-client/target/generated-sources/remote-openapi/settings.gradle
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/AndroidManifest.xml
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ApiCallback.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ApiClient.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ApiException.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ApiResponse.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/auth/ApiKeyAuth.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/auth/Authentication.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/auth/HttpBasicAuth.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/auth/HttpBearerAuth.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/Configuration.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/GzipRequestInterceptor.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/JSON.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/Pair.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ProgressRequestBody.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ProgressResponseBody.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ServerConfiguration.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/ServerVariable.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/client/StringUtil.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/DefaultApi.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/model/AbstractOpenApiSchema.java
template-service-parent/template-service-client/target/generated-sources/remote-openapi/src/main/java/com/batty/forgex/templateService/api/model/Template.java
template-service-parent/template-service-client/target/maven-archiver/pom.properties
template-service-parent/template-service-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
template-service-parent/template-service-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/template-service-parent/template-service-client/target
